{% extends "base.html" %}
{% block wblogactive %} active {% endblock wblogactive%}
{% block title %} BlogPost {% endblock title%}

{% block body %}
{% if user.is_authenticated %}
<div class="container">
<h3>Write your blog here -</h3>
<form method="post" action="addblog">
{% csrf_token %}
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input type="text" class="form-control" name="postTitle" id="postTitle">
  </div>
    {{ myform.media }}
  {{ myform.as_p}}

  <div class="form-group">
    <label for="postContent">Example textarea</label>
    <textarea class="form-control" id="postContent" name="postContent" rows="3"></textarea>
  </div>
    <button class="btn btn-primary float-right" type="submit">Post</button>

</form>

</div>
<script> CKEDITOR.replace( 'postContent' );</script>
{% else %}
Log in required...
<a href="/"> Login</a>

{% endif %}

{% endblock body%}